* {
    margin: 0;
    padding: 0;
}

.cabeçalho {
    background-color: #383D58;
    color: white;
    display: flex;
    justify-content: space-around;
}

.cabeçalho-lista-item {
    margin: 40px;
    display: inline-block;
    font-size: 20px;
}

.escola-imagem {
    width: 25%;
}

.Escola {
    background-image: linear-gradient(#383D58, #4EBFE9);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px 0;
    padding: 50px 0;
}

.escola-sobre{
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: large;
    padding: 10px 0;
    font-size: 50px;
}

.escola-texto1,
.escola-texto2 {
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: large;
    padding: 10px 0;
}

.estudante-titulo{
    text-align: center;
    font-family: "Poppins", sans-serif;
    margin: 50px 0;
}

.mamaco{
    width: 300px;
}

.estudante-icone{
    width: 24px;
}

.flex-container{
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center; 
    flex-direction: row;
    padding: 10px 0;
}

.flex-container > div {
    margin: 30px;
    text-align: center;
    font-family: "Poppins", sans-serif
}

.estudante{
    background-color: #59C1E2;
    padding: 100px;
}

.rodape {
    background-color: black;
    padding: 20px 0;
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.imagem-com-fundo {
    background-color: black;
}